.container
  .d-flex.p-2.justify-content-center
    %form.form-inline
      %input.form-control.mr-sm-2{"aria-label" => "検索", :placeholder => "お店の名前、ジャンル、住所など", :type => "search"}/
      %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
